.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) var(--color-pine-dark);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-pine-dark);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 4px;
  border: 2px solid var(--color-pine-dark);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-text-primary);
} 